html,
body {
    padding: 0;
    margin: 0;
    background: #56d4b9;
}

#footer {
    background: #2da4ad;
    text-align: center;
    color: #FFF;
    font-family: Arial;
    bottom: 0px;
    height: 53px;
    padding-top: 30px;
}

.wrapper {
    padding-top: 10px;
    text-align: center;
    margin: 0px;
    border: 5px solid white;
    font-family: Verdana;
    height: 100%;
    color: #FFF;
    padding-bottom: 10px
}

h1 {
    border: 7px solid #000;
    margin: 0px auto;
    width: 20%;
    border-radius: 20px;
    background: #88f0d1;
    color: #000
}
